.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
  }
  
  .input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
  }
  
  .input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
  }
  
  .input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
  }
  
  .input_submit:hover {
    background-color: #388ae2;
  }
  
  .input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
  }
  
  .todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    /* background-color: red; */
  }
  
  .todos__single {
    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  }
  .todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
  }
  
  .todos__single--text:focus {
    outline: none;
  }
  
  .icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
  }

 /* TaskDetails.css */
.task-details-container {
  height: 100vh;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.wallpapersafari.com/48/62/6atcdu.jpg'); /* Replace with the path to your full-screen image */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.content-container {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-container h2 {
  color: #333;
}

.content-container p {
  margin-top: 10px;
}

.content-container .task-details-info {
  margin-top: 10px;
}

.content-container .task-details-info strong {
  margin-right: 5px;
  font-weight: bold;
}

/* Add more styling as needed */

  
  @media (max-width: 1200px) {
    .todos__single {
      width: 40%;
    }
  }
  
  @media (max-width: 700px) {
    .input {
      width: 95%;
    }
    .todos {
      width: 95%;
    }
    .todos__single {
      width: 100%;
    }
  }